DISCORD_TOKEN=
DISCORD_CLIENT_ID=
PUBLIC_BASE_URL=https://YOUR-GITHUB-USERNAME.github.io/YOUR-REPOSITORY
SIDE_DURATION_SECONDS=300
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIRESTORE_COLLECTION_NAME=sideSessions
GUILD_SETTINGS_COLLECTION_NAME=guildSettings
